[submodule "Core/KopiLua"]
	path = Core/KopiLua
	url = git://github.com/Artum/KopiLua.git
[submodule "Core/KeraLua"]
	path = Core/KeraLua
	url = git://github.com/Artum/KeraLua.git
[submodule "tests/LuaTests"]
	path = tests/LuaTests
	url = git://github.com/Artum/LuaTests.git
